# .env non va inviato in remoto ma ne va realizzato un altro in remoto
.env

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/ 
temp/*.*

info/ 
info/*.*

# ignore ALL files in ANY directory named .venv
.venv/

# ignore ALL files in ANY directory named .vscode
.vscode/
.vscode/*.*

# Python temp folder
*.pyc
__pycache__/
applicationModule/__pycache__/ 



